<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 20px;
  background: #f1f1f1;
}

.header {
  padding: 2px;
  font-size: 40px;
  text-align: center;
  background: white;
}

.leftcolumn {
  float: left;
  width: 100%;
}

.card {
   background-color: white;
   padding: 20px;
   margin-top: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}
</style>
</head>
<body>

<div class="header">
  <h2>Add Employee Shift</h2>
</div>

<div class="row">
  <div class="leftcolumn">

      <form action="/addempshift" method="post">
          {% csrf_token %}
          <label>Select Employee Name</label>
          <select name = "employee">
              {% for employee in employees reversed %}
                <option value="{{employee.id}}">{{employee.employee_name}}</option>
              {% endfor %}
          </select>
          <br>

          <label>Select Shift</label>

          <select name = "shift">
              {% for shift in shifts reversed %}
                <option value="{{shift.id}}">{{shift.shift_name}}</option>
              {% endfor %}
          </select>
          <br>

          <label>Shift start from</label>
          <input type="date" name ="from_date"><br>

          <button type="submit">Add</button>

      </form>
  </div>
</div>

</body>
</html>

